<a href="https://colab.research.google.com/github/danilo-91/mentoria-diplo-datos/blob/master/quantile_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

Leo el CSV primero

In [3]:
df_base = pd.read_csv('http://samplecsvs.s3.amazonaws.com/SalesJan2009.csv')
df_base.head()

  Transaction_date   Product Price  ...    Last_Login   Latitude   Longitude
0      1/2/09 6:17  Product1  1200  ...   1/2/09 6:08  51.500000   -1.116667
1      1/2/09 4:53  Product1  1200  ...   1/2/09 7:49  39.195000  -94.681940
2     1/2/09 13:08  Product1  1200  ...  1/3/09 12:32  46.188060 -123.830000
3     1/3/09 14:44  Product1  1200  ...  1/3/09 14:22 -36.133333  144.750000
4     1/4/09 12:56  Product2  3600  ...  1/4/09 12:45  33.520560  -86.802500

[5 rows x 12 columns]

Ahora mi idea es probar la función Quantile para dividir en 3 los precios del CSV. Primero quiero saber si el CSV tiene muchas mediciones y diferentes valores de precio, porque el Head no me da esa información.

In [10]:
df_base['Price'].unique()

array(['1200', '3600', '2100', '7500', '800', '1250', '250', '1800',
       '13,000'], dtype=object)

No tiene tantos, pero algo tiene. Veamos el shape.

In [11]:
df_base.shape

(998, 12)

Entonces no hay tantos valores diferentes, pero hay muchas mediciones. Veamos cómo quedan los cuartiles.

In [30]:
df_int = df_base
df_int['Price'] = df_int['Price'].str.replace(',','')
df_int = df_int.astype({'Price': int})

Primero tuvimos que limpiar un poco para poder trabajar bien con los números. Chequeamos con dtypes que esté todo bien y seguimos.

In [33]:
df_int.dtypes

Transaction_date     object
Product              object
Price                 int64
Payment_Type         object
Name                 object
City                 object
State                object
Country              object
Account_Created      object
Last_Login           object
Latitude            float64
Longitude           float64
dtype: object

Perfecto. Ahora sí, probamos el quartile.

In [44]:
df_int['Price'].quantile([.33,.66,.99])

0.33    1200.0
0.66    1200.0
0.99    7500.0
Name: Price, dtype: float64

In [54]:
def func_rango(row):
    if (row < df_int['Price'].quantile(.33)):
        val = 'bajo'
    elif ((row >= df_int['Price'].quantile(.33))  & (row < 2000)):
        val = 'medio'
    elif  (row >= 2000):   
        val = 'alto'
    else:
        val = 'otro'
    return val

In [56]:
func_rango(1200)

'medio'